<div class="row">
  <div class="col-sm-12">
    <div class="well">
        <span class="block-header">Date Time Picker</span>

          <div class="row">
            <div class="col-sm-4">
              {{#bs-form-group}}
                <label class="control-label">Date value: {{date1}}</label>
                {{bs-datetimepicker date=date1 format='MM/DD/YYYY' updateDate=(action "updateDate1")}}
              {{/bs-form-group}}
            </div>
            <div class="col-sm-8">
              <label class="control-label">Code</label>
              <pre>&#123;&#123;bs-datetimepicker date=date1 format='MM/DD/YYYY' updateDate=(action "updateDate1")&#125;&#125;</pre>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              {{#bs-form-group}}
                <label class="control-label">Date Time {{date2}}</label>
                {{bs-datetimepicker date=date2 format='MM/DD/YYYY h:mm A' showClear=true showClose=true updateDate=(action "updateDate2")}}
              {{/bs-form-group}}
            </div>
            <div class="col-sm-8">
              <label class="control-label">Code</label>
              <pre>&#123;&#123;bs-datetimepicker date=date2 format='MM/DD/YYYY h:mm A' showClear=true showClose=true updateDate=(action "updateDate2")&#125;&#125;</pre>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <br />
              {{bs-button defaultText="Submit" type="primary" buttonType="submit" action="submit"}}
              {{bs-button defaultText="Clear" type="" buttonType="button" action="clear"}}
            </div>
          </div>
    </div>
  </div>
</div>


